body {
  font-family: "Rubik", sans-serif;
  background: #fff;
  color: #1b3c59;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header {
  width: 100%;
  height: 90px;
}

.main-header .navbar {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.main-header .navbar-brand {
  width: 200px;
}

.main-header .navbar-link {
  text-transform: uppercase;
}

ul li.nav-item a {
  padding: 1px 10px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #1b3c59;
  border-bottom: 2px solid transparent;
  transition: border 0.2s;
}

ul li.nav-item a.active,
ul li.nav-item a:hover {
  border-bottom-color: #61ce4e;
}

.main-footer {
  height: 370px;
  padding-top: 70px;
  padding-bottom: 30px;
  background: #1b3c59;
  color: #fff;
}

.nav-footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-footer .container img {
  width: 200px;
}

.nav-footer .container .row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav-footer .container .row.left {
  font-size: 15px;
}

.nav-footer .container .row.left p {
  margin: 0;
}

.nav-footer .container .row.right {
  font-size: 20px;
}

.nav-footer .container .row.right ul li {
  text-align: right;
}

.nav-footer .container .row.right ul li a:hover {
  color: #fff;
}

.home .container .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jumbo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 500px;
}

.jumbo-text {
  width: 60%;
}

.jumbo-text h2 {
  font-size: 58.5px;
  text-transform: uppercase;
  font-weight: 300;
}

.jumbo-text h2 span {
  font-weight: 400;
}

.jumbo-text p {
  font-size: 22px;
  font-weight: 400;
}

.jumbo-text ul {
  list-style: disc;
  padding-left: 20px;
}

.jumbo-text ul li {
  font-weight: 300;
}

.jumbo-text ul li strong {
  font-weight: 400;
}

.jumbo-img {
  width: 40%;
}

.students-container {
  background: #e8ebf1;
  padding: 50px 20px;
}

.students-container h1 {
  text-align: center;
}

.students-container .students-filter {
  margin-top: 25px;
}

.students-container .students-filter .container .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.students-container .students-filter .container .row select {
  width: 80px;
  height: 25px;
  font-size: 14px;
  border: 0;
  border-radius: 3px;
  color: #1b3c59;
}

.students-container .students-filter .container .row select:focus {
  outline: none;
}

.students-container .students-filter .container .row select option {
  border: 0;
}

.students {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px 20px;
}

@media (max-width: 768px) {
  .students {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.students a {
  width: 48%;
  min-width: 350px;
}

.students a .cardstud {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.students a .cardstud-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.students a .cardstud-info img {
  width: 100px;
}

.students a .cardstud-info ul {
  margin-left: 20px;
}

.students a .cardstud-info ul li h3 {
  font-size: 18px;
  font-weight: 700;
}

.students a .cardstud-info ul li h4 {
  font-size: 14px;
}

.students a .cardstud-descr {
  font-size: 14px;
  margin-top: 10px;
}

.students a:hover {
  text-decoration: none;
}

.students-container {
  background: #e8ebf1;
  padding: 50px 20px;
}

.students-container h2 {
  text-align: center;
}

.students-container .row.student {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.student {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px 50px;
}

.student .cardstud {
  width: 60%;
  min-width: 350px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 10px 50px;
  margin-bottom: 20px;
}

.student .cardstud-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .student .cardstud-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.student .cardstud-info img {
  width: 200px;
}

.student .cardstud-info ul {
  margin-left: 20px;
}

.student .cardstud-info ul li h3 {
  font-size: 34px;
  font-weight: 300;
}

.student .cardstud-info ul li h4 {
  font-size: 14px;
}

.student .cardstud-descr {
  font-size: 14px;
  margin-top: 10px;
}

.student:hover {
  text-decoration: none;
}

.privacy-container .privacy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.privacy-container .privacy .row {
  width: 80%;
  font-weight: 300;
}

.privacy-container .privacy .row h2 {
  font-weight: 400;
}

.privacy-container .privacy .row h3 {
  font-size: 20px;
}

.privacy-container .privacy .row p {
  margin: 10px 0;
}

.faq-container .faq-header {
  padding: 50px 80px;
}

.faq-container .faq-header h2 {
  font-size: 44px;
}

.faq-container .faq-main {
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.faq-container .faq-main--prima,
.faq-container .faq-main--dopo {
  width: 50%;
  height: 100%;
  min-height: 700px;
  padding: 50px 60px;
}

.faq-container .faq-main--prima {
  background: #e8ebf1;
}

.faq-container .faq-main--dopo {
  background: #1b3c59;
  color: #fff;
}

.faq-container .faq-main h3 {
  font-size: 32px;
  margin-bottom: 50px;
}

.faq-container .faq-main .question {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.faq-container .faq-main .question-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.faq-container .faq-main .question-text p {
  font-size: 24px;
}

.faq-container .faq-main .question-text .qa-cta.active {
  display: block;
}

.faq-container .faq-main .question-text .qa-cta {
  cursor: pointer;
  font-size: 24px;
  display: none;
}

.faq-container .faq-main .question-text .qa-cta:hover {
  color: inherit;
}

.faq-container .faq-main .question-cta {
  font-size: 24px;
  cursor: pointer;
}

.answer {
  margin-bottom: 30px;
  font-size: 18px;
  overflow: hidden;
  max-height: 0;
  transition: height 0.8s;
}

.answer.visible {
  max-height: 100px;
}

