.students-container {
    background: $gray;
    padding: 50px 20px;

    h1 {
        text-align: center;
    }
    
}

.students {

    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
    padding: 50px 20px;

    a {
        width: 48%;
        .cardstud {
            @include flex(column, space-between, flex-start);
            background: #fff;
            padding: 10px;
            margin-bottom: 20px;

            &-info {
                @include flex(row, space-between, flex-start);

                img {
                    width: 100px;
                }
    
                ul {

                    margin-left: 20px;
                    li {
    
                        h3 {
                            font-size: 18px;
                            font-weight: 700;
                        }
    
                        h4 {
                            font-size: 14px;
                        }
                        
                    }
                    
                }

            }

            &-descr {
                font-size: 14px;
                margin-top: 10px;
            }
        }
        
        &:hover {
            text-decoration: none;
        }
    }
}