.faq-container {
    
    .faq-header {
        padding: 50px 80px;

        h2 {
            font-size: 44px;
        }
    }

    .faq-main {
        min-height: 400px;
        @include flex;

        &--prima,
        &--dopo {
            width: 50%;
            height: 100%;
            min-height: 700px;
            padding: 50px 60px;
        }

        &--prima {
            background: $gray;
        }

        &--dopo {
            background: $blue;
            color: #fff;
        }

        h3 {
            font-size: 32px;
            margin-bottom: 50px;
        }

        .question {
            @include flex(column);

            &-text {
                width: 100%;
                @include flex($just: space-between);
                p {
                    font-size: 24px;
                }

                .qa-cta.active {
                    display: block;
                }

                .qa-cta {
                    cursor: pointer;
                    font-size: 24px;
                    display: none;

                    &:hover {
                        color: inherit;
                    }
                }
            }

            &-cta {
                font-size: 24px;
                cursor: pointer;
            }
        }
    }
}

.answer {
    margin-bottom: 30px;
    font-size: 18px;
    overflow: hidden;
    max-height: 0;
    transition: height .8s;

}


.answer.visible {
    max-height: 100px;
}