.students-container {
    background: $gray;
    padding: 50px 20px;

    h1 {
        text-align: center;
    }

    .students-filter {

        margin-top: 25px;
        .container {

            .row {
                @include flex(row, center, center);

                select {
                    width: 80px;
                    height: 25px;
                    font-size: 14px;
                    border: 0;
                    border-radius: 3px;
                    color: $blue;
                    
                    &:focus {
                        outline: none;
                    }
                    option {
                        border: 0;
                    }
                }

            }
        }        
    }
    
}

.students {

    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
    padding: 50px 20px;

    @include responsive($tablet) {
        @include flex(column, center, center);
    }

    a {
        width: 48%;
        min-width: 350px;
        .cardstud {
            @include flex(column, space-between, flex-start);
            background: #fff;
            padding: 10px;
            margin-bottom: 20px;

            &-info {
                @include flex(row, space-between, flex-start);

                img {
                    width: 100px;
                }
    
                ul {

                    margin-left: 20px;
                    li {
    
                        h3 {
                            font-size: 18px;
                            font-weight: 700;
                        }
    
                        h4 {
                            font-size: 14px;
                        }
                        
                    }
                    
                }

            }

            &-descr {
                font-size: 14px;
                margin-top: 10px;
            }
        }
        
        &:hover {
            text-decoration: none;
        }
    }
}